<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=193.112.47.91;database=userInfo;User ID=sa;Password=yz.rent123456;" />
  </connectionStrings>
</configuration>